<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
 	<nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <h2>Update Password</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Update Password
                    </div>
                    <div class="card-body">
                        <div th:if="${sukses}">
                            <span style="color: green">Password Berhasil Diupdate</span>
                        </div>
                        <div th:if="${notif} != null" th:text="${notif}" style="color: red">
                        </div>
                        <form th:action="@{'/user/updatePassword/' + ${#httpServletRequest.remoteUser}}" method="POST">
                            <div class="row form-group">
                                <label class="col-sm-4">Password Lama:</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="oldPassword" />
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Password Baru:</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="newPassword" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" title="Must contain at least one number and one letter, and at least 8 or more characters" />
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Konfirmasi Password Baru:</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="newPasswordKonf" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" title="Must contain at least one number and one letter, and at least 8 or more characters" />
                            </div>
                            <div class="row form-group">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>